<app-header></app-header>
<div class="container text-center py-5">
  <h1>Welcome to the home page!</h1>
  <h2 *ngIf="currentUser" style="font-weight: lighter">
    Logged in as: {{ currentUser.id }}
  </h2>
  <button mat-raised-button (click)="logout()">Logout</button>
</div>

<!-- location selector -->
<!-- <div class="container location-selector py-4">
  <div *ngIf="!selectedOblast">
    <h2>Выбрать область</h2>
    <ul class="list-group">
      <li 
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let ob of oblastAll"
        (click)="openOblast(ob)"
      >
        {{ ob.name }}
        <span class="badge badge-secondary badge-pill">›</span>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedOblast">
    <button class="btn btn-link mb-2" (click)="goBack()">← Назад</button>
    <h2>{{ selectedOblast.name }}</h2>
    <p class="text-muted mb-3">Вся область</p>
    <h5>Выберите город</h5>
    <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let reg of selectedOblast.districts"
        (click)="selectRegion(reg)"
      >
        {{ reg.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedRegion" class="alert alert-info mt-3">
    Выбран город: <strong>{{ selectedRegion.name }}</strong>
  </div>
</div> -->
